<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta charset="utf-8" name="viewport" content="width=1310, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FWD</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div id="app">
      <video @ended="onEnd()" v-if="!showPopup" class="player" autoplay controls>
        <source src="https://www.w3schools.com/howto/rain.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
      </video>

      <div class="popup" :class="!showPopup ? 'popup-out' : 'popup-in'" v-else>
        <div class="review-section">
          <div class="headline">
            <h1>
              ความคิดเห็นของคุณสำคัญกับเรา<br />
              กรุณาประเมินความพึงพอใจในบริการครั้งนี้
            </h1>
            <span>We value your feedback. Please rate our service.</span>
          </div>
          <div class="review-score text-center">
            <div class="line"></div>
            <button
              v-for="(review, index) in reviews"
              :key="index"
              :class="!index ? 'ml-0' : ''"
              @click="sendReview(index)"
            >
              <img :src="`assets/images/review/${index}.png`" alt="" />

              <span class="review-text">
                {{ review }}
              </span>
            </button>
          </div>
          <div class="thankyou text-center">
            <h2 class="th">ขอบคุณที่ใช้บริการ</h2>
            <h4 class="en">THANK YOU</h4>
          </div>
        </div>
        <!-- review-section -->
        <div class="video-section">
          <div class="logo"><img src="assets/images/logo.png" alt="" /></div>
          <div class="video-list">
            <div class="video ep1" v-for="(video, index) in videos" :key="index">
              <a :href="video.url" target="_blank">
                <div class="play-ico">
                  <img src="assets/images/play.png" width="64" />
                </div>
                <div class="video-thumbnail">
                  <img :src="`assets/images/video-thumbnail/${video.img}`" alt="" />
                </div>
                <div class="video-description">
                  {{ video.text }}
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- video-section -->
      </div>
    </div>

    <!-- - - - - - - - - - script - - - - - - - - - -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script src="assets/js/web-vue.js"></script>
    <script src="assets/js/web.js"></script>
  </body>
</html>
