<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FWD</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="review-section">
        <div class="headline">
          <h1>
            ความคิดเห็นของคุณสำคัญกับเรา<br />
            กรุณาประเมินความพึงพอใจในบริการครั้งนี้
          </h1>
          <span>We value your feedback. Please rate our service.</span>
        </div>
        <div class="review-score text-center">
          <button v-for="(review, index) in reviews" :key="index" :class="!index ? 'ml-0' : ''">
            <img :src="`assets/images/review/${index}.png`" alt="" />
            {{ review }}
          </button>
        </div>
        <div class="thankyou text-center">
          <h2 class="th">ขอบคุณที่ใช้บริการ</h2>
          <h4 class="en">THANK YOU</h4>
        </div>
      </div>
      <!-- review-section -->
      <div class="video-section">
        <div class="logo"><img src="assets/images/logo.png" alt="" /></div>
        <div class="video-list">
          <div class="video ep1" v-for="(video, index) in videos" :key="index">
            <a :href="video.url" target="_blank">
              <div class="play-ico">
                <img src="assets/images/play.png" width="64" />
              </div>
              <div class="video-thumbnail">
                <img :src="`assets/images/video-thumbnail/${video.img}`" alt="" />
              </div>
              <div class="video-description">
                {{ video.text }}
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- video-section -->
    </div>

    <!-- - - - - - - - - - script - - - - - - - - - -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/js/web-vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
